@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;500;700;800&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}
:root {
  --dark-variant: #31265e;
  --light-variant: #353e83;
  --primary: #007bff;
  --light-primary: #3b96f8;
  --secondary: #8db640;
  --light-secondary: #a3be6f;
  --white: #fff;
  --dark: #333;
  --grey: #a1a0a0;
  --danger: rgb(250, 0, 0);
  --background: #efefef;
}
.fw-bolder {
  font-weight: 800;
}
.fw-bold {
  font-weight: 600;
}
.fw-reg {
  font-weight: 400;
}
.fw-light {
  font-weight: 200;
}
::-webkit-scrollbar {
  width: 0.6rem;
}
::-webkit-scrollbar-track {
  border: 1rem solid var(--lightVariant);
  /* box-shadow: inset 0 0 0.1rem 0.1rem rgba(29, 135, 37, 0.5); */
}
::-webkit-scrollbar-thumb {
  background: var(--light-variant);
  border-radius: 3rem;
  border: 1px solid #31265e;
}

@media screen and (max-width: 940px) {
  ::-webkit-scrollbar {
    display: none;
  }
}
