@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;500;700;800&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}
:root {
  --dark-variant: #31265e;
  --light-variant: #353e83;
  --primary: #007bff;
  --secondary: #8db640;
  --white: #fff;
  --dark: #333;
  --grey: #eee;
  --danger: rgb(250, 0, 0);
  --background:#efefef;
}
.fw-bolder {
  font-weight: 800;
}
.fw-bold {
  font-weight: 600;
}
.fw-reg {
  font-weight: 400;
}
.fw-light {
  font-weight: 200;
}
